body {
    display: inline-flex;
}

.intro {
    height: 1011px;
    width: 400px;
    font-family: Monaco;
}

.text_intro {
    margin-top: 100%;
    margin-left: 30%;
}



.intro_pic {
    width: 950px;
    height: max-content;
    /* height: 1011px; */
    position: absolute;
    right: 0;
}

img {
    height: inherit;
    width: inherit;
}