body {
    display: inline-flex;
}

.intro {
    height: 1011px;
    width: 600px;
    font-family: Monaco;
}

.text_intro {
    margin-top: 50%;
    margin-left: 30%;
}



.intro_pic {
    width: 950px;
    /* height: max-content; */
    padding: 20%;
    height: 1100px;
    /* position: absolute; */
    right: 0;
}

img {
    height: inherit;
    width: inherit;
}