body {
    display: inline-flex;
    width: auto;
}

.intro {
    font-family: Monaco;
    width: auto;
    margin-right: 10%;
    margin-left: 10%;
}

.text_intro {
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 20%;
}

.contact{
    margin-top: 40%;
}

.contact-email{
    margin-right: 2%; 
    text-decoration: none;
}

.contact-email .tooltiptext{
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.contact-email:hover .tooltiptext {
    visibility: visible;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin: 5%;
    font-family: Monaco;
}
  
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
padding: 2px 16px;
}


[id*="item"] {
    display: none;
}

[id*="item"]:target {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin: 5%;
    font-family: Monaco;
}

.intro_pic {
    width: auto;
    height: 900px;
}

img {
    height: inherit;
    width: inherit;
}